
<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="nav sidebar-menu">
    <li class="header">导航栏</li>
      <!-- <li class="active treeview" ng-repeat="item in menu">
        <a href="#">
          <i class={{item.icon}}></i> <span>{{item.name}}</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ng-repeat="subItem in item.subMenu" ng-click="selectItem(subItem.name)" ng-class="{active : activeSubItem === subItem.name}"><a ui-sref={{subItem.state}}><i class={{subItem.icon}}></i>{{subItem.name}}</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
</aside>
